.App {
    text-align: center;
  }

  .App-header {
      background-color: rgb(85, 72, 204);
      width: 100%;
      border-radius: 5px;
      padding: 10px;
      font-size: 150%;
      height: 50px
    }

    .App-logo {
    border-radius: 5px;
    }
