.Bio {
    text-align: center;
  }

  .Bio-header {
    background-color: rgb(126, 80, 138);
    height: 100px;
    color: rgb(0, 255, 0);
  }

  .Bio-title {
    font-size: 1.5em;
    color: rgb(0, 255, 0);
  }

  .Bio-body {
    background-color: indianred;
    height: 100px;
  }

  .Bio-intro {
    font-size: large;
  }

.pic {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;

}

